[production]
; https://www.php.net/manual/fr/yaf.appconfig.php
application.directory = PROJECT_PATH "/app"
application.baseUri = "/"
application.timezone = "UTC"

session.name = "yaf_session"
session.domain = ".yaf.test"
session.lifetime = 3600
session.secure = true
session.sameSite = "strict"

logger.directory = PROJECT_PATH "/logs/log.log"
; The maximal amount of files to keep (0 means unlimited)
logger.maxFiles = 0
; debug, info, notice, warning, error, critical, alert, emergency
logger.level = notice

databases.default.driver = "sqlite"
databases.default.database = PROJECT_PATH . '/database.sqlite'

[local: production]
logger.maxFiles = 5
logger.level = debug

[testing: production]
logger.maxFiles = 1
logger.level = debug

databases.default.driver = "sqlite"
databases.default.database = PROJECT_PATH . '/tests/database.sqlite'
